<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Health Data - HealthHub</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="mt-5">Enter Health Data</h2>
        
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="health-data-tab" data-toggle="tab" href="#health_data" role="tab" aria-controls="health_data" aria-selected="true">Enter Health Data</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="health_data" role="tabpanel" aria-labelledby="health-data-tab">
                <form method="POST" action="/add_health_data">
                    <div class="form-group">
                        <label for="datetime">Date and Time:</label>
                        <input type="datetime-local" class="form-control" id="datetime" name="datetime" required>
                    </div>
                    <div class="form-group">
                        <label for="age">Age:</label>
                        <input type="number" class="form-control" id="age" name="age" required>
                    </div>
                    <div class="form-group">
                        <label for="gender">Gender:</label>
                        <input type="text" class="form-control" id="gender" name="gender" required>
                    </div>
                    <div class="form-group">
                        <label for="heart_rate">Heart Rate:</label>
                        <input type="number" class="form-control" id="heart_rate" name="heart_rate" required>
                    </div>
                    <div class="form-group">
                        <label for="anxiety">Anxiety Level (1 to 10):</label>
                        <input type="number" class="form-control" id="anxiety" name="anxiety" min="1" max="10" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Health Data</button>
                </form>
            </div>
        </div>

        <a href="{{ url_for('dashboard') }}">Back to Dashboard</a>
    </div>

    <!-- Include Bootstrap JS (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
