<!DOCTYPE html>
<html lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="jquery.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">

    </head>
<body>


<!-- <div id="menu"> -->
    <!-- <ul>
        <li>Home</li>
        <li>About</li>
        <li>Services</li>
        <li>Login/Signup</li>
        <li>Contact</li>
    </ul> -->

</div>
<h1 id ="slogan">Welcome to HealthHub</h1>
<div id="slogan">
    <h4> <span>YOUR COMPLETE HEALTH COMPANION</span></h4>
    <h3>Your Health, Your Data, Your Insights</h3>
    <h3>Track your health and make informed decisions.</h3>
</div>
    <a href='/login'>
    <button type="button">LOGIN</button>
    </a>
    <!-- <a href='/register'></a>
    <button type="button">REGISTER</button>
    </a> -->
</body>
</html>