<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        

    </head> 
    <body>
        <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input type="text" placeholder="full_name"/>
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <input type="text" placeholder="email"/>
            <button>Create Account</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
          </form>
        </div>
      </div> 
      <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    </body> 
</html>